.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary        